[Unit]
Description=Snort NIDS Daemon
After=network.target

[Service]
Type=simple
ExecStart=sudo /etc/snortd/initd 
ExecStop=sudo /etc/snortd/haltd
StandardOutput=file:/var/log/snort/snortctl.log
StandardError=file:/var/log/snort/snortd_err.log
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

